---
description: Alle tests resultaten na de usability testing met peers en de doelgroep
---

# Test rapport

**Testpersoon 1 Martijn (25)**

1. **Hoe oud ben je** \
   ****25 jaar&#x20;
2. **Vind jij het veilig om je IBAN te gebruiken voor een app?** \
   Houd gegevens voor zichzelf maar ziet geen probleem met het delen van zijn IBAN&#x20;
3. **Bewaar jij jouw bonnen? Hoevaak?**\
   Ik bewaar alleen bonnen van dure aankopen.&#x20;
4. **Ben je bewust van het effect dat bonnen kunnen hebben op het milieu?** \
   Wel bekend met het feit dat het slecht is voor het milieu maar houd zich er niet mee bezig
5. **Wat voor winkels bezoek je in je vrije tijd en zou je een bon voor bewaren?** \
   ****Alleen de Praxis op dit moment en soms electronica zaken, hier bewaar ik als enigste een bon voor&#x20;
6. **Zou je de app gebruiken (na testplan) voor jouw gemak of voor het milieu? En denk je dat wij het aantal geprinte bonnen kunnen reduceren?**\
   ****In combinatie van gemak om het te bewaren en voor het milieu zou ik de app wel gebruiken. Ik denk eigenlijk niet dat individuele aanmeldingen veel bonnen kunnen reduceren.&#x20;

* Meld je aan in de app&#x20;

&#x20;\- Slaat de uitleg van de registratie over \
&#x20;\- Begrijpt vervolgens niet waar de IBAN voor bedoeld is, alleen nadat ik het uitleg \
\-  "Waarom moet je de IBAN invullen?"&#x20;

* Krijg een indruk van hoe je een aankoopbon ontvangt

\- Verteld dat hij eerst zijn e-mail wilt invullen, maar daarna rinkelt er een belletje dat hij dit niet voor elke winkel zou invullen, dus vindt hij het de bon automatisch krijgen handig&#x20;

* Zoek een bon via een van de zoekopties\
  \
  \- Hij vindt direct een bon via het overzichtsscherm\
  \- Gebruikt de zoekknop bovenaan \
  \- Hij vindt de omgeving erg duidelijk
* Open en gebruik een bon voor je garantiebewijs\
  \
  \- Hij opent een van de bonnen en gaat makkelijk overweg met de bon lezen en de QR code vinden\

* Bekijk het winkel aanbod van de app\
  \
  \- Ik vind het nog niet heel nuttig want er zijn nog niet veel winkels aangemeld om bonnen voor te bewaren\
  \- Begrijpt dat het veel moeite kost om elke winkel voor te app aan te melden\
  \- Snapt waarom een lijst met winkels is\
  \- "Lacht, misschien kun je iets aan de winkels toevoegen" \
  \- "Ik vind dit wel handig omdat het overkoepelend is en je voor elke winkel je bon kunt bewaren" \

* Krijg een indruk van de instellingen en tags om sneller een bon te vinden\
  \
  \- Ik vind de tags wel een leuke toevoegen maar ik kijk snel via de zoekknop\
  \- De instellingen zijn logisch, ik zou de bon via een melding accepteren \

* Wissel van omgeving om je andere bonnen te zien\
  \- "Het is net zoals Google of een account omgeving, dat begreep ik wel ja"&#x20;

**Testpersoon 2 Lois (23)**&#x20;

1. **Hoe oud ben je** \
   ****23 jaar&#x20;
2. **Vind jij het veilig om je IBAN te gebruiken voor een app?** \
   Alleen als de app betrouwbaar is, wanneer? Als ik de app herken en alleen een deel van mijn rekeningnummer hoef te gebruiken
3. **Bewaar jij jouw bonnen? Hoevaak?**\
   Geen
4. **Ben je bewust van het effect dat bonnen kunnen hebben op het milieu?** \
   "Ik wist wel van de hoeveelheid bonnen af, maar niet van de giftige stoffen nee, ik zou de app wel gebruiken om mee te doen aan het milieu maar het probleem is dat ik geen bonnen accepteer."
5. **Wat voor winkels bezoek je in je vrije tijd en zou je een bon voor bewaren?** \
   ****Soms kleding winkels waar ik de bon bewaar maar ik shop veel online dus krijg ik een bon via de mail.
6. **Zou je de app gebruiken (na testplan) voor jouw gemak of voor het milieu? En denk je dat wij het aantal geprinte bonnen kunnen reduceren?**\
   ****Nee maar ik vind het idee wel goed, ik denk je hiermee veel bonnen kunt besparen

* Meld je aan in de app \
  \-  Ik vind het wel duidelijk dat ik mijn IBAN moet gebruiken. "Ik denk dat de winkel mijn bon hier naartoe moet sturen?"&#x20;
* Krijg een indruk van hoe je een aankoopbon ontvangt\

* Zoek een bon via een van de zoekopties
* Open en gebruik een bon voor je garantiebewijs
* Bekijk het winkel aanbod van de app
* Krijg een indruk van de instellingen en tags om sneller een bon te vinden
* Wissel van omgeving om je andere bonnen te zien
